.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #521751;
    height: 60px;
}

.toolbar_navigation {
    display: flex;
    height: 100%;
    align-items: center;
    
}

.toolbar_navigation-item a {
    color: white;
    text-decoration: none;
    font-size: 1;
}

.toolbar_navigation-item ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-item li {
    padding: 0 0.5rem;
}

.toolbar_logo {
    
}

.toolbar_navigation-item a:hover
.toolbar_navigation-item a:active {
    color: #fa920f;
}

.spacer {
    flex: 1;
}

.logo {
    padding-left: 10%;
}
